*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
}

form input{
    border-radius: 10px !important;
}

div#form-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-container h1{
    text-align: center;
}